# BEGIN index
<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /
	RewriteRule ^index\.html - [L]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule . /index.html [L]
</IfModule>


# BEGIN compressor GZIP 
<IfModule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/html text/css text/xml application/x-javascript
	BrowserMatch ^Mozilla/4 gzip-only-text/html
	BrowserMatch ^Mozilla/4\.0[678] no-gzip
	BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
</IfModule>


#Desabilitar acesso e navegação a um diretório ou pasta
Options All -Indexes


#Criar páginas de erro customizadas
ErrorDocument 400 /errors/badrequest.html
ErrorDocument 401 /errors/authreqd.html
ErrorDocument 403 /errors/forbid.html
ErrorDocument 404 /errors/notfound.html
ErrorDocument 500 /errors/serverr.html


#Adicionar UTF-8 aos arquivos automaticamente
<FilesMatch ".(htm|html|css|js)$">
	AddDefaultCharset UTF-8
</FilesMatch>

#Configurar File ETAG 
<FilesMatch "\.(gif|jpg|jpeg|png|swf|css|js|html?|xml|txt|ico)$">
	FileETag none
</FilesMatch>

#Configurar Keep-alive
<ifModule mod_headers.c>
	KeepAlive On
	Header set Connection keep-alive
</ifModule>